body {
    font-family: 'Roboto';
    font-size: 16px;
}

svg {
    vertical-align: middle;
}

.row {
    &.row-normal {
        align-items: center;
        max-width: 72.5em;
    }
    &.row-small {
        max-width: 29.5rem;
        justify-content: center;
    }
}