body {
    font-family: 'Roboto';
    font-size: 16px;

    // DO YOU THINK THIS WILL BE BETTER TO BE PLACED IN THE ALL SECTIONS
		@media (max-width:72em) {
				padding: 0 .5em;
		}
}

svg {
    vertical-align: middle;
}

.row {
    &.row-normal {
        align-items: center;
        max-width: 72.5em;
    }
    &.row-small {
        max-width: 29.5rem;
        justify-content: center;
    }
}