:root {
    --color-primary: #F84444;
    --color-primary-invert: #FFFFFF;
    --color-dark: #000000;
    --color-secondary: #323232;
    --color-light-dark: #8B8B8B;
    --color-light-gray: #F0F0F0;
}

$breakpoint-mobile: 48em;
$breakpoint-mobile-small: 38em;